*{
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

.regbody{
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logbody{
    background-image: url(../images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.surveybody{
    background-image: url(../images/survey.png);
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.endbody{
    background-image: url(../images/thankyou.jpg);
    background-repeat: no-repeat;
    background-size: 100% 700px;
}

h1 ,h2{
    color:black;
}

.reg {
    margin: auto;
    width: 50%;
    background-color: rgb(0,0,0,0.5);
    color: white;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
}

.log {
    margin: 10% 39%;
    width: 20%;
    background-color: rgb(0,0,0,0.5);
    color: white;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
}

.survey {
    margin: 4% 8%;
    width: 50%;
    background-color: white;
    box-shadow: 0 0px 12px 1px black;
    color: black;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px;
    float: left;
}

.buttons {
    padding: 10px 25px;
    margin: 5px;
    background-color: rgb(0,0,0);
    border-radius: 30px;
    border: none;
    font-size: 15px;
    text-decoration: none;
}
.buttons a{
    color: white;
}

.buttonpinkee {
    padding: 10px 25px;
    margin: 5px;
    background-color: #f082eb;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    text-decoration: none;
}
.buttonpinkee a{
    color: white;
}

.formpinkee {
    border: none;
    margin-bottom: 25px;
    border-bottom: 1px solid #f082eb;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    font-size: 13px;
}

.formi {
    border: none;
    margin-bottom: 25px;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    font-size: 13px;
}

.label {
    padding-right: 20px;
    font-size: 15px;
}